Research Project/Research_Proposal/739.tex
Research Project/Research_Proposal/739.pdf
Research Project/Research_Proposal/739.synctex.gz
Research Project/Research_Proposal/algo.sty
Research Project/Research_Proposal/algorithm_example.tex
Research Project/Research_Proposal/AllegProposal.aux
Research Project/Research_Proposal/AllegProposal.pdf
Research Project/Research_Proposal/AllegProposal.prj
Research Project/Research_Proposal/AllegProposal.log
Research Project/Research_Proposal/fancybox.sty
Research Project/Research_Proposal/AllegProposal.tex
Research Project/Research_Proposal/mybibtexDB.bib
Research Project/Research_Proposal/Nausicaa.eps
Research Project/Research_Proposal/Nausicaa.pdf
Research Project/Research_Proposal/Research_proposal.pdf
Research Project/Research_Proposal/AllegProposal.synctex.gz
Research Project/Research_Proposal/Research updates.pdf
Research Project/Research_Proposal/surprise.c